<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title><%= yield(:title) %></title><!--  RecipeFinderForFork2forkcom -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
      <%= csrf_meta_tags %>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <div class="container" style="margin-top: 60px">
      <div class="row">
        <div class="col-md-3 well">
          <p class="text-uppercase"><strong>Some Favorites</strong></p>
          <span id="snan_ n1">
            <a class="badge badge-default" href="http://www.pairuptocode.com/exercises/bootstrap_before.html#">Celery Root</a></span>
          <span id = "span_n2">
            <a class="badge badge-default" href="http://www.pairuptocode.com/exercises/bootstrap_before.html#">Spaghetti Squash</a></span>
          <span id = "span_n3">
            <a class="badge badge-default" href="http://www.pairuptocode.com/exercises/bootstrap_before.html#">Killer Mushrooms</a></span>

            <div class="row">
              <div class="form-group col-md-8 col-md-offset-2">
              </div>
            </div>

          <%= form_tag('/', class: 'form-inline', method: 'get') do %>

            <div class="row">
              <div class="form-group col-md-8 col-md-offset-2">
                <%= text_field_tag :looking_for, @search_term, placeholder: "Enter veggie's name", id: 'input_sm_field', class: 'input input-sm', style: 'width: 100%' %>
              </div>
            </div>

            <div class="row">
              <div class="form-group col-md-8 col-md-offset-2">
              <!--<button class="btn btn-danger btn-sm" name="button" type="submit">Search recipes</button>-->
               <%= button_tag 'Search', type: 'submit', id: 'btn_sm_button', class: 'btn btn-danger btn-sm', data: {disable_with: "<i class='fa fa-circle-o-notch fa-spin'></i> Searching…"} %>
              </div>
            </div>

          <% end %>
        </div>
        <div class="col-md-9">
          <% content_for :examples do %>
          <div class="alert bg-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Well!</strong> Have you had your daily dose of veggies today??
          </div>
          <% end %>
          <%= yield(:examples) if yield(:enabled_examples) == 'true' %>
          <blockquote>
            <p>Take care of your body. It's the only place you've to live
            </p>
            <small>Jim Rohn</small>
          </blockquote>
        </div>
        <%= render 'shared/examples' if yield(:enabled_examples) == 'true' %>
      </div>
    </div>
    <div class="container"><%= yield %></div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script>
      $(document).ready(function(){
        <% session[:button_clicks] ||= 3%>
        function count() {
          <% (session[:button_clicks] % 3).zero? ? session[:button_clicks] = 1 : session[:button_clicks] += 1 %>
          $("#span_n<%=session[:button_clicks].to_s%>").html("<a class='badge badge-default' href='<%= request.original_url%>'><%= @search_term %></a>");
        }

        $('#btn_sm_button').click(
          function() {
            count();
        });
      });
    </script>
  </body>
  <hr>
  <footer>
    <p class="text-center">Powered By Food2Fork.com</p>
  </footer>
</html>
